body{
    background-color: gray;
}
*{
    overflow: hidden;
}
#clock-h1{
    font-size: calc(20px + 10vw);
    line-height: 100vh;
}
p{
    text-align: center;
    font-size: calc(15px + 1vw);
}
.buttons{
    width: calc(30px + 20vw);
    margin-left: 5px;
    height: 100px;
    margin-bottom: calc(50px+10vh);
    background-color: darkgray;
    border: 10px solid black;
    border-radius: 10px;
}